# REACT_APP_BACKEND_URL=https://serveefleet.onrender.com
REACT_APP_BACKEND_URL=http://localhost:5000
REACT_APP_GOOGLE_CLIENT_ID=650998623743-ocjroqgscgujv5puu0dflgp7sum3282k.apps.googleusercontent.com

